<div>
    <h1>hello {{username}} </h1>
    <h2> the id is {{target_id}}</h2>
    <h2>data is {{some_data}}</h2>
    <h2> bank defaults number:{{bank_defaults}}</h2>
    <p>{{bank_scores}}</p>
    <h2>bill default number :{{bill_defaults}}</h2>
    <p>{{bill_scores}}</p>
    <h2> sentimental default number : {{senti_defaults}} </h2>
    <p>{{senti_scores}}</p>
    <h2>sale score</h2>
    <p>{{sales_score}}</P>
        <h1>ADscore</h1>
        <p>{{total_score}}</p>
    <h2>debt ratio</h2>
    <p>{{debt_ratio}}</p>
</div>